@font-face {
  font-family: "Circular Std Book";
  src: url("./assets/fonts/Circular-Std-Book.otf") format("opentype"),
}


body {
  margin: 0;
  padding: 0;
  font-family: "Circular Std Book", sans-serif;
  /*font-family: "Varela Round", sans-serif;*/
  /*background: #e7dcd5;*/
  background: #e4d8d1;
}
